@media print,
(max-width: 1439px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size_title: 44px;
    }



    /*----------
        Auth
    ----------*/
    .auth
    {
        padding: 60px 0;
    }


    .auth .data
    {
        padding: 0 60px;
    }


    .auth .image
    {
        height: 836px;
    }


    .auth .title
    {
        margin-bottom: 48px;
    }



    /*--------------
        Patients
    --------------*/
    .patients .col_type
    {
        width: 240px;
        min-width: 240px;
    }



    /*---------------------
        List indicators
    ---------------------*/
    .list_indicators .title
    {
        margin-bottom: 24px;
    }



    .list_indicators .titles
    {
        font-size: 14px;
        line-height: 20px;

        margin-bottom: 12px;
    }

    .list_indicators .titles > *
    {
        padding: 12px;
    }



    .list_indicators .item
    {
        font-size: 14px;
        line-height: 20px;
    }

    .list_indicators .item > *
    {
        padding: 4px 12px;
    }



    .list_indicators .col_code
    {
        width: 80px;
        min-width: 80px;
    }

    .list_indicators .col_name
    {
        width: 140px;
        min-width: 140px;
    }

    .list_indicators .col_value
    {
        width: 88px;
        min-width: 88px;
    }

    .list_indicators .col_result
    {
        width: 100px;
        min-width: 100px;
    }

    .list_indicators .col_minimum
    {
        width: 140px;
        min-width: 140px;
    }

    .list_indicators .col_maximum
    {
        width: 140px;
        min-width: 140px;
    }



    /*--------------------
        Interpretation
    --------------------*/
    .interpretation .head
    {
        margin-bottom: 24px;
    }


    .interpretation .titles
    {
        margin-bottom: 20px;
    }


    .interpretation .titles > *,
    .interpretation .item .top > *
    {
        padding: 12px 20px;
    }


    .interpretation .item .col_id
    {
        padding-left: 0;
    }



    /*---------------------
        List indicators
    ---------------------*/
    .list_indicators
    {
        padding: 0;

        border-radius: 0;
        background: none;
    }


    .list_indicators .titles
    {
        display: none;
    }


    .list_indicators .sub_title
    {
        font-size: 20px;
    }


    .list_indicators .sub_title .icon
    {
        width: 20px;
        height: 20px;
    }


    .list_indicators .sub_title span
    {
        width: calc(100% - 28px);
    }


    .list_indicators .item
    {
        font-weight: 600;
        line-height: 18px;

        align-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: flex-start;

        padding: 24px 16px;

        border-radius: 8px;
        background: #fff;
    }

    .list_indicators .item + .item
    {
        margin-top: 16px;
    }


    .list_indicators .item > *
    {
        position: relative;

        order: 2;

        margin-top: 16px;
        padding: 20px 0 0;
    }

    .list_indicators .item > *:before
    {
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;

        position: absolute;
        top: 0;
        left: 0;

        display: block;

        content: attr(data-column);

        color: #a4abb5;
    }


    .list_indicators .item > * + *
    {
        margin-left: 0;
    }


    .list_indicators .item .col_name
    {
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;

        order: 1;

        margin-top: 0;
        padding-bottom: 16px;

        color: var(--text_color);
        border-bottom: 1px solid #f3f3f4;
    }

    .list_indicators .item .col_name:before
    {
        font-weight: 400;
    }


    .list_indicators .item .col_percents
    {
        display: none;
    }


    .list_indicators .item .col_result,
    .list_indicators .item .col_units,
    .list_indicators .item .col_referee_int
    {
        text-align: left;
    }


    .list_indicators .item .col_result,
    .list_indicators .item .col_value
    {
        order: 5;
    }


    .list_indicators .col_id,
    .list_indicators .col_code,
    .list_indicators .col_percents,
    .list_indicators .col_result,
    .list_indicators .col_value,
    .list_indicators .col_units,
    .list_indicators .col_referee_int
    {
        width: 25%;
        min-width: 0;
    }

    .list_indicators .col_name
    {
        width: 100%;
        min-width: 100%;
    }



    /*------------
        Schema
    ------------*/
    .schema
    {
        padding: 16px;
    }


    .schema .btns
    {
        margin-top: 32px;
    }


    .schema .data_wrap
    {
        width: calc(100% - 48px);
        height: 520px;
    }
}
