@media print,
(max-width: 1279px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size_title: 40px;
        --sidebar_width: 240px;
    }


    html.custom_scroll ::-webkit-scrollbar
    {
        width: 5px;
        height: 5px;
    }


    .content
    {
        padding: 32px 24px 32px calc(var(--sidebar_width) + 24px);
    }



    /*--------------
        Fancybox
    --------------*/
    .fancybox__slide
    {
        padding: 24px;
    }



    /*-------------
        Sidebar
    -------------*/
    aside .logo
    {
        padding: 32px 24px 24px;
    }


    aside .lk_menu
    {
        padding: 24px;
    }


    aside .lk_menu a
    {
        font-size: 15px;
        line-height: 21px;
    }



    /*----------
        Auth
    ----------*/
    .auth .data
    {
        padding: 0 40px 0 0;
    }


    .auth .image
    {
        height: 820px;
    }


    .auth .title
    {
        margin-bottom: 40px;
    }



    /*--------------
        Patients
    --------------*/
    .patients .titles
    {
        font-size: 14px;
        line-height: 20px;

        margin-bottom: 12px;
    }

    .patients .titles > *
    {
        padding: 12px;
    }


    .patients .patient .head
    {
        font-size: 14px;
        line-height: 20px;
    }

    .patients .patient .head > *
    {
        padding: 8px 12px;
    }


    .patients .patient .item
    {
        font-size: 14px;
        line-height: 20px;
    }

    .patients .patient .item > *
    {
        padding: 8px 12px;
    }


    .patients .col_id
    {
        width: 112px;
        min-width: 112px;
    }

    .patients .col_status
    {
        width: 112px;
        min-width: 112px;
    }

    .patients .col_type
    {
        width: 180px;
        min-width: 180px;
    }

    .patients .col_date
    {
        width: 140px;
        min-width: 140px;
    }



    /*--------------------
        Interpretation
    --------------------*/
    .interpretation
    {
        padding: 0;

        border-radius: 0;
        background: none;
    }


    .interpretation .title
    {
        width: 100%;
    }


    .interpretation .filter
    {
        margin-top: 20px;
        margin-left: 0;
        padding: 0;

        border-radius: 0;
        background: none;
    }


    .interpretation .titles
    {
        display: none;
    }


    .interpretation .item
    {
        border-radius: 8px;
        background: #fff;
    }


    .interpretation .item + .item
    {
        margin-top: 16px;
    }


    .interpretation .item .top
    {
        font-weight: 600;
        line-height: 18px;

        flex-wrap: wrap;
        justify-content: flex-start;

        padding: 24px 16px 16px;
    }


    .interpretation .item .top > *
    {
        position: relative;

        order: 2;

        min-height: 0;
        margin-top: 16px;
        padding: 20px 0 0;
    }


    .interpretation .item .top > * + *
    {
        border: none;
    }


    .interpretation .item .top > *:before
    {
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;

        position: absolute;
        top: 0;
        left: 0;

        display: block;

        content: attr(data-column);

        color: #a4abb5;
    }


    .interpretation .item .top .col_id,
    .interpretation .item .top .col_code,
    .interpretation .item .top .col_value,
    .interpretation .item .top .col_result
    {
        display: none;
    }


    .interpretation .item .top.open .col_id,
    .interpretation .item .top.open .col_code,
    .interpretation .item .top.open .col_value,
    .interpretation .item .top.open .col_result
    {
        display: block;
    }


    .interpretation .item .col_name
    {
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;

        order: 1;

        margin-top: 0;
        padding-bottom: 8px;

        color: var(--text_color);
    }


    .interpretation .item .col_name:before
    {
        font-weight: 400;
    }


    .interpretation .item .top.open .col_name
    {
        padding-bottom: 16px;

        border-bottom: 1px solid #f3f3f4;
    }


    .interpretation .item .mob_arr
    {
        display: block;
    }


    .interpretation .item .col_id .icon
    {
        display: none;
    }

    .interpretation .item .col_id span
    {
        width: 100%;
    }


    .interpretation .item .data
    {
        padding: 16px;
    }


    .interpretation .item .data .label
    {
        color: #a4abb5;
    }


    .interpretation .item .data .desc
    {
        font-size: 14px;
        line-height: 18px;

        color: #2b2b2b;
    }


    .interpretation .col_id,
    .interpretation .col_code,
    .interpretation .col_value,
    .interpretation .col_result
    {
        width: 25%;
        min-width: 0;
    }

    .interpretation .col_name
    {
        width: 100%;
        min-width: 100%;
    }



    /*---------------
        User info
    ---------------*/
    .user_info
    {
        margin-bottom: 32px;
    }


    .user_info .row
    {
        margin-left: -20px;
    }


    .user_info .row > *
    {
        margin-left: 20px;
    }



    /*-------------
        LK info
    -------------*/
    .lk_info .data .row > *
    {
        width: calc(50% - 16px);
    }



    /*-----------
        PopUp
    -----------*/
    .modal_title
    {
        font-size: 24px;
    }


    .modal_desc
    {
        font-size: 16px;
        line-height: 20px;

        margin-top: 12px;
    }
}
