@media (max-width: 479px)
{
    /*-------------------
        Global styles
    -------------------*/
    .cont
    {
        padding: 0 20px;
    }


    .content
    {
        padding: 40px 20px 102px;
    }



    /*-------------
        Sidebar
    -------------*/
    aside .lk_menu
    {
        padding: 16px 8px;

        border-radius: 12px 12px 0 0;
    }



    /*----------
        Auth
    ----------*/
    .auth
    {
        padding: 48px 0;
    }


    .auth .title
    {
        margin-bottom: 32px;
    }



    /*---------------
        User info
    ---------------*/
    .user_info
    {
        margin-bottom: 24px;
    }


    .user_info .row
    {
        margin-bottom: -4px;
    }

    .user_info .row > *
    {
        margin-bottom: 4px;
    }



    /*---------------------
        List indicators
    ---------------------*/
    .list_indicators .section + .section
    {
        margin-top: 24px;
    }


    .list_indicators .sub_title
    {
        font-size: 16px;
    }


    .list_indicators .item + .item
    {
        margin-top: 12px;
    }



    /*-----------
        PopUp
    -----------*/
    .modal
    {
        padding: 24px 16px;
    }


    .modal_title
    {
        padding-right: 40px;
    }
}
